*,
::before,
::after {
    box-sizing: border-box;
}

p,
figure,
h4 {
    margin: 0
}

p {
    font-size: 12px;
}

body {
    font-family:  Arial, Helvetica, sans-serif;
    background-color:  white;
    color: black;
}

/* .padre {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 36px;
}

.hijo {
    border: 1px solid white;
} */

section {
    max-width: 1000px;
}

.info {
    display: flex;
    background-color: rgb(26, 26, 241);
    justify-content: center;
    gap: 80px;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h5 {
    color: coral;
    margin: 15px
}

h1 {
    text-align: center;
    color: black;
    margin: 15px 
}

.infoFooter {
    max-width: 800px;
    display: flex;
    gap: 30px;
    margin: 15px 
}

.icon {
    width: 42px;
    height: 42px;
}

.infoFooterItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 10px;
    box-shadow: 0px 0px 10px rgba(24, 24, 16, 0.753);
    height: 200px;
}

.infoFooterImage {
    margin: 5px 0;
}

.infoFooterTitle {
    font-size: 15px;
    margin: 5px 0;
}

.footerTutors {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 36px; 
}

.footerItems {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(24, 24, 16, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footerItems h4 {
    font-size: 12px;
    font-weight: bold;
}

.footerItemImage {
    box-shadow: 0px 0px 10px rgba(24, 24, 16, 0.753);
}